<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lzx.lakemart.mapper.AddressMapper">
    <insert id="insertAddress" parameterType="org.lzx.lakemart.model.entity.Address">
        INSERT INTO tb_address (user_id, receiver_name, receiver_phone, province, city, district, detail_address, is_default, create_time)
        VALUES (#{userId}, #{receiverName}, #{receiverPhone}, #{province}, #{city}, #{district}, #{detailAddress}, #{isDefault}, #{createTime})
    </insert>
</mapper>