fastapi==0.115.6
uvicorn[standard]==0.34.0
langchain==1.2.18
langchain-openai==1.2.2
langchain-community==1.2.0
pymysql==1.1.1
redis==5.2.1
python-dotenv==1.0.1
unstructured==0.16.12
langchain-text-splitters==1.2.0